.cart-button {
   position: relative;
   padding: rem(10);

   svg {
      width: rem(24);
      height: rem(24);
   }

   &__quantity {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 1.5rem;
      height: 1.5rem;
      font-size: rem(14);
      color: var(--color-white);
      transform: translate(25%, 25%);
   }
}
