.header {
   position: sticky;
   top: 0;
   z-index: 5;
   width: 100%;
   color: var(--color-white);
   background-color: var(--bs-gray-dark);

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;
   }

   &__logo {
      display: inline-flex;
      align-items: center;
      margin-right: rem(20);
      font-family: "Comfortaa", cursive;
      font-weight: 700;
      gap: rem(10);

      img {
         display: inline-block;
         border-radius: 100%;
         padding: rem(5);
         width: rem(50);
         height: rem(50);
         font-weight: 700;
      }
   }
}
