.home {
   position: relative;
   display: flex;
   flex: 1 1 auto;
   align-items: center;
   justify-content: center;
   width: 100%;
   color: var(--color-white);

   &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: url("../../../public/images/home.webp");
      background-position: center bottom;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #f4e562;
      filter: brightness(0.9);
   }

   &__title {
      margin-bottom: rem(40);
      font-weight: 700;
      -webkit-text-fill-color: var(--bs-warning);
      -webkit-text-stroke: 2px var(--bs-gray-700);

      @include adaptiveValue("max-width", 500, 320);
      @include adaptiveValue("font-size", 40, 32);
   }

   &__button {
      border-radius: var(--border-radius) 0;
      padding: 15px 40px;
   }
}
